In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({
    "Mois" : ["Juin 2009", "Juillet 2009", "Aout 2009", "Septembre 2009", "Octobre 2009", "Novembre 2009", "Décembre 2009", "Janvier 2010", "Février 2010", "Mars 2010", "Avril 2010", "Mai 2010", "Moyenne"],
    "Société Général" : [-5.17, 15.87, 24.77, -2.15, -17.49, 3.33, 4.39, -13.77, -4.29, 15.25, -13.23, -13.24, -0.4775],
    "Air France" : [-18.97, -2.97, 20.61, 16.62, -15.78, 0.96, 4.17, 7.55, -17.08, 19.27, 1.71, -17.06, -0.0808]
})
data

              Mois  Société Général  Air France
0        Juin 2009          -5.1700    -18.9700
1     Juillet 2009          15.8700     -2.9700
2        Aout 2009          24.7700     20.6100
3   Septembre 2009          -2.1500     16.6200
4     Octobre 2009         -17.4900    -15.7800
5    Novembre 2009           3.3300      0.9600
6    Décembre 2009           4.3900      4.1700
7     Janvier 2010         -13.7700      7.5500
8     Février 2010          -4.2900    -17.0800
9        Mars 2010          15.2500     19.2700
10      Avril 2010         -13.2300      1.7100
11        Mai 2010         -13.2400    -17.0600
12         Moyenne          -0.4775     -0.0808

In [3]:
data["Société Général"].cov(data["Air France"])

np.float64(107.43151041666665)